body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}
.heading {
    text-align: center;
}
.container {
    text-align: center;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
}

.progressbar-style {
    margin-top: 20px;
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

#progressbar {
    height: 30px;
    background-color: #76c7c0;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.undo-redo button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
